:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    display: flex;
    height: 10vh;
    width: 100%;
    padding-right: 5vw;
    padding-left: 5vw;
    align-items: center;
    background-color: #374f67;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#article-space {
    margin-right: 5vw;
    margin-left: 5vw;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #ffffff;
        background-color: #213547;
    }
}

@media only screen and (max-width: 620px) {
    :root {
        font-size: 48px;
    }
}